{% extends "store/base.html" %} {% block title %}
<title>{{ book.title }} | Library</title>
{% endblock %} {% block content %}
<h2>Title: {{ book.title }}</h2>

<dl>
	<dt>Genre:</dt>
	<dd>{{ book.genre }}</dd>
	<dt>Author:</dt>
	<dd>{{ book.author }}</dd>
	<dt>Description:</dt>
	<dd>{{ book.description }}</dd>
	<dt>Rating:</dt>
	<dd>{{ book.rating }}</dd>
	<dt>MRP:</dt>
	<dd>Rs. {{ book.mrp }}</dd>
	<dt>Available Copies:</dt>
	<dd>{{ num_available }}</dd>
</dl>
{% if user.is_authenticated %}
<button class="btn btn-primary" id="loan-button">Loan {{ book.title }}</button>
<div>
	<form id="book" method="POST" action="{% url 'rate-book' book.pk %}" style="display: flex; justify-content: space-between; margin-top: 1rem;">
		<button class="btn btn-primary" type="button" id="ratingButton">{% if user_review %} Update Rating {% else %} Rate It! {%endif%}</button>
		<div class="form-group d-none">
			<label>Update Rating</label>
			<input name="rating" type="number" min="0" max="10" value="{{user_review}}" required />
			<button class="btn btn-primary" type="submit" id="submit">Submit</button>
		</div>
	</form>
</div>

{% endif %}
<script>
	$("#loan-button").click(() => {
		if(!{{num_available}}){
		alert("No Books Available")
		return;
		}

		$.ajax({
		url: "{% url 'loan-book' %}",
		method: "POST",
		data: {
			bid: {{ book.id }}
   		},
		success: function (data, status, xhr) {
			if (data['message'] == "success") {
				alert("Book successfully issued");
				window.location.replace("/books/loaned");
			}
			else {
				alert("Unable to issue this book");
			}
		},
		error: function (xhr, status, err) {
			alert("Some error occured");
		}

   	})
	})

   $('#ratingButton').click(() => {
		document.querySelector(".form-group").classList.toggle("d-none")
		$('#ratingButton').toggleClass("d-none")
   })

   $('.submit').click(() => {
		document.querySelector(".form-group").classList.toggle("d-none")
		$('#ratingButton').toggleClass("d-none")
   })
</script>
{% endblock %}